.container {
  width: 400px;
  margin: 100px auto;
  text-align: center;
  border: 2px solid skyblue;
  border-radius: 15px;
  padding: 20px;
}

.container button {
  margin: 10px;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: skyblue;
  cursor: pointer;
}
